*{
    font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
    font-size: 14px;
}
html{
    width: auto;
    height: 100%;
}
h3{
    font-size: 20px;
}
body{
   background: ghostwhite;
    background-size: auto;
    background-repeat: no-repeat;
    margin:0px;
}
.whole_area{
    margin: 0px;
    padding: 0px;
    margin-left: 14px;
    margin-right: 14px;
    padding-top: 100px;
}

.tables{
    margin-top: -14px;
    margin-bottom: -14px;

}
.first_table{
    display: inline-block;
    padding: 14px;
    width: 836px;
    height: auto;
    vertical-align: top;
}

.first_table_centre{
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(34, 36, 38, 0.15) 5px 5px 4px 0px;
}

.second_table{
    display: inline-block;
    vertical-align: top;
    padding: 14px;
    width: 377px;
}

.second_table_centre{
    border: 1px solid black;
    border-radius: 5px;
    background: white;
    box-shadow: rgba(34, 36, 38, 0.15) 5px 5px 4px 0px;
}

.top_line_of_table1{
    height: 80px;
    width: 834px;
    padding: 14px;
    position: relative;
    box-sizing: border-box;
    position: relative;
}

.line_of_table1{

}

.centre_line_of_table1 {
    height: auto;
    width: 834px;
    box-sizing: border-box;
    position: relative;
    padding: 14px;
    align-items: center;
    border-top: 1px solid black;
 }


.top_line_of_table2{
    height: 80px;
    width: 375px;
    box-sizing: border-box;
    position: relative;
    padding: 14px;
    align-items: center;
}


.line_of_table2{
    height: auto;
    width: 375px;
    padding: 14px;
    box-sizing: border-box;
    position: relative;
    border-top: 1px solid black;
    line-height: 20px;
}

.centre_of_top_line1{
    display: flex;
    line-height: 19.999px;
    position: relative;
    text-size-adjust: 100%;
    height: 100%;
    position: relative;
}


.cell_name_of_goods{
    display: inline-block;
    width: 25%;
    box-sizing: border-box;
    padding: 14px;
    height: 100%;
    align-items: stretch;
    position: relative;

}

.cell_with_count_buttons{
    display: inline-block;
    width: 37%;
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    height: 100%;
    align-items: stretch;
    position: relative;
    text-align: center;

}

.cell_with_button_buy{
    display: inline-block;
    width: 37%;
    box-sizing: border-box;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 7px;
    height: 100%;
    align-items: stretch;
    position: relative;
    text-align: right;
}

.big_text_area{
    padding-top: 9.501px;
    padding-bottom: 9.501px;
    padding-right: 14px;
    padding-left: 14px;
    border: 1px solid gainsboro;
    cursor: auto;
    width: 85%;
}

.add{
    width: 15%;
    background-color: rgb(33, 133, 208);
    vertical-align: middle;
    border-bottom-right-radius: 4px;
    box-shadow: rgba(34, 36, 38, 0.15) 0px -0.3em 0px 0px inset;
    text-align: center;
    position: relative;
    text-decoration-style: solid;
    border: none;
    color: white;
    box-sizing: border-box;
    font-weight: bold;
    outline: none;
}

.name_of_bought_good{
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    text-size-adjust: 100%;
}

.one_bought_good{
    display: inline-block;
}

.label_js{
    align-items: flex-start;
    box-sizing: border-box;
    padding-top: 5.250px;
    padding-bottom: 5.250px;
    padding-left: 7.497px;
    padding-right: 7.497px;
    margin-bottom: 3px;
    background-color: rgb(248, 248, 248);
    border-radius: 4px;
    text-align: center;
    position: relative;
    text-decoration-style: solid;
    border: none;
    font-size: 12px;
    color:black;
    display: inline-block;

}


.count_of_bought_good{
    box-sizing: border-box;
    padding: 4.5px;
    padding-top: 4.5px;
    padding-bottom: 6px;
    margin-left: 1.278px;
    display: inline-block;
    border-radius: 7000px;
    background: orange;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    text-align: center;
    color: white;
    height: 18px;
    width: 18px;
    vertical-align: middle;
    text-align: center;
    position: relative;
}


.minus{
    align-items: flex-start;
    background-color: lightcoral;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-left: 2.5px;
    padding: 8px;
    padding-bottom: 12.5px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 100px;
    box-shadow: rgba(34, 36, 38, 0.15) 0px -0.3em 0px 0px inset;
    text-align: center;
    position: relative;
    font-weight: bold;
    border: none;
    text-decoration-style: solid;
    outline: none;
}

.count_of_good{
    background-color: rgb(248, 248, 248);
    margin-right: 1.714px;
    margin-left: 1.714px;
    padding-top:7px;
    padding-bottom:7px;
    padding-left: 12.996px;
    padding-right: 9.996px;
    box-sizing: border-box;
    height: 30px;
    width: 30px;
    vertical-align: middle;
    border-radius: 4px;
   /* box-shadow: rgba(34, 36, 38, 0.15) 0px -0.3em 0px 0px inset;*/
    text-align: center;
    position: relative;
    text-decoration-style: solid;
    border: none;
    color:rgba(0, 0, 0, 0.6);
}

.plus{
    align-items: flex-start;
    background-color: green;
    color: white;
    display: inline-block;
    font-size: 20px;
    margin-left: 2.5px;
    padding: 10px;
    padding-bottom: 11.5px;
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    vertical-align: middle;
    border-radius: 100px;
    box-shadow: rgba(34, 36, 38, 0.15) 0px -0.3em 0px 0px inset;
    text-align: center;
    border: none;
    font-weight: bold;
    outline: none;
}

.buy{
    padding-top: 10px;
    padding-bottom: 11.5px;
    padding-right: 20px;
    padding-left: 20px;
    margin: 2.5px;
    align-items: flex-start;
    color:rgba(0, 0, 0, 0.6);
    display: inline-block;
    height: 40px;
    width: auto;
    background-color: rgb(248, 248, 248);
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: rgba(34, 36, 38, 0.15) 0px -0.3em 0px 0px inset;
    text-align: center;
    position: relative;
    border: none;
    color:rgba(0, 0, 0, 0.6);
    box-sizing: border-box;
    outline: none;
}

.cross{
    padding-top: 10px;
    padding-bottom: 11.5px;
    padding-right: 10px;
    padding-left: 16px;
    margin: 2.5px;
    align-items: flex-start;
    display: inline-block;
    height: 40px;
    width: 40px;
    background-color: gainsboro;
    vertical-align: middle;
    border-radius: 4px;
    box-shadow: rgba(34, 36, 38, 0.15) 0px -0.3em 0px 0px inset;
    text-align: left;
    position: relative;
    font-weight: bold;
    border: none;
    horiz-align: center;
    color: white;
    box-sizing: border-box;
    background: red;
    outline: none;

}

.badge{  /* вспливаючий бейдж*/
    position: fixed;
    bottom: -130px;
    left: 20px;
    width: 100px;
    height: 180px;
    color: white;
    background: deeppink;
    text-align: center;
    font-size: 25px;
    font-family: Tahoma;
    padding: 5px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    transition: all 1s ease; /*Устанавливает эффект перехода между двумя состояниями элемента,
    они могут быть определены с помощью псевдоэлемента :hover или :active*/
}

.appear{
    display: inline-block;
}

.dissapear{
    display: none;
}

.badge .title{
    font-size: 25px;
    padding-top: 10px;
}

.badge .created{
    font-size: 15px;
    margin-top: 25px;
}

.badge:hover{
    /*  опис змін*/
    transform: translateY(-130px);
    background: blue;

}
/*вид друку*/
@media print {
    .badge .title{
        display: none;/*не відображаємо назву*/
    }

    .badge{
        color: black;
        border: 3px solid black;
        height: 210px;

    }
}

@media (max-width:500px) {
    .first_table {
        display: block;
    }

    .second_table {
        display: block;
    }
}

.tooltip {
    border-bottom: 1px;
}

.tooltip::after {
    background: rebeccapurple;
    border-radius: 8px 8px 8px 8px;
    color: white;
    content: attr(data-tooltip); /* Главная часть кода, определяющая содержимое всплывающей подсказки */
    margin-top: -25px;
    margin-left: -38px;
    padding-left: 7px;
    padding-top: 3px;
    padding-right: 7px;
    padding-bottom: 3px;
    position: absolute;
    visibility: hidden; /* скрыт. */
}

.tooltip:hover::after {
    opacity: 1; /* Показываем его */
    visibility: visible;
}

